.custGrid-3 {
    grid-template: auto/25% 40% 35%;
} 
.row-bg {
    background-color: #0f786f !important;
    color: #fff;
}
.custGrid-3 > div {
    padding: 4px 0px;;
}
.cnt {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cnt-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row-click {
    padding: 0;
    margin: 0;
    background: 0;
    border: 0;
}
.custom-table {
    padding: 1rem;
}
.icon-cus-class {
    padding-left: 0.7rem;
}
.custom-table table .mat-header-cell{
    padding: 0 0.2rem !important;
    font-size: 0.8em;
}
.custom-table table .mat-cell, .mat-footer-cell {
    font-size: 0.8em;
    padding: 0 0.2rem !important;
}
.clear {
    color: #cf3232;
}
.done, .free {
    color: #017e01;
}