<div class="sf-container">
    <app-header [title]="title"></app-header>
    <div class="sf-content">
        <div class="gotoHome">
            <button mat-raised-button color="primary" (click)="gotoHome()">Home</button>
        </div>
        <div *ngIf="students?.length > 0">
            <div class="grid-container custGrid-5">
                <div class="header">Name</div>
                <div class="header">Mobile</div>
                <div class="header">Address</div>
                <div class="header">Coach</div>  
                <div class="header">Action</div>
                <ng-container *ngFor="let student of students">
                    <div class="rowBg">{{student.name}}</div>
                    <div class="rowBg">{{student.whatsappNum}}</div>
                    <div class="rowBg">{{student.address}}</div>
                    <div class="rowBg">{{student.coachName}}</div>
                    <div class="rowBg"> 
                        <button class="btn-grnd" style="margin-bottom: 1em;margin-left: 0;" (click)="approve(student)">Approve</button>
                        <button class="btn-grnd btn-red" style="margin-left: 0;" (click)="reject(student)">Reject</button> 
                    </div>
                </ng-container>
                </div>
        </div>
       
    </div>
</div>