.ageGroup {
    margin-top: 1.5rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.row-bg {
    background-color: #0f786f !important;
    color: #fff;
}
.f-12{
    font-size: 12px;
}
.txt-capital {
    text-transform: capitalize;
}
.c-green {
    color: rgb(16, 93, 16);
}
.c-brown {
    color: rgb(158, 111, 33);
}