.sf-container {
    width: 100%;
    margin: auto;
    background-color: #f1f1f1;
    height: 100%;
    box-sizing: border-box;
  }
  .sf-header {
    height: 10vh;
    color: #000;
    background-image: url("../../assets/logo/kalamLogoName.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 5px -6px;
    background-position: 1rem;
    background-color: #ffffff;
  }
  .sf-content {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
    height: 70vh;
    box-sizing: border-box;
    overflow: auto;
  }
  .sf-footer {
    display: flex;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
  }
  .brk-field {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .arrowRight {
    position: absolute;
    right: 1px;
    top: 0.3rem;
  }
  .arrowLeft {
    position: absolute;
    left: 1px;
    top: 0.3rem;
  }
  ::ng-deep .sf-content .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #f1f1f1;
    padding: 0;
  }
  ::ng-deep .brk-field .mat-form-field-infix {
    width: 100%;
  }
  ::ng-deep .sf-content .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
    padding: 0;
  }
  