
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kalam-app-primary: mat.define-palette(mat.$indigo-palette);
$kalam-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kalam-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kalam-app-theme: mat.define-light-theme((
  color: (
    primary: $kalam-app-primary,
    accent: $kalam-app-accent,
    warn: $kalam-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kalam-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body { min-height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.rf-container {
  width: 100%;
  margin: auto;
  background-color: #f1f1f1;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
}
.rf-header {
  height: 10vh;
  color: #000;
  background-image: url("assets/logo/kalamLogoName.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 5px -6px;
  background-position: 1rem;
  background-color: #ffffff;
}
.rf-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0 1rem;
  height: 70vh;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
}
.content-top, .content-footer {
  justify-content: start;
  height: auto;
  background-color: #f1f1f1;
}
.custm-logo {
  background-size: 2.5rem 3rem;
  background-position: 0.5rem;
  flex-direction: column;
}
.rf-footer {
  display: flex;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
}
.brk-field {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.arrowLeft {
  position: absolute;
  left: 1px;
  top: 0.3rem;
}
.red-snackbar {
  background: #ee334e;
  color: #fff;
}
.btn-grnd {
  background: green;
  color: #fff;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-left: 0.5rem;
}
.btn-red {
  background: #dd0e0e;
}
button.btn-grnd:disabled {
  background: #c9c9c9;
}

.sf-container {
  width: 100%;
  margin: auto;
  background-color: #f1f1f1;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
}
.sf-header {
  height: 10vh;
  color: #000;
  background-image: url("assets/logo/kalamLogoName.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 5px -6px;
  background-position: 1rem;
  background-color: #ffffff;
}
.sf-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0 1rem;
  height: auto;
  box-sizing: border-box;
  overflow: auto;
}
.sf-footer {
  display: flex;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
}
.brk-field {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.arrowRight {
  position: absolute;
  right: 1px;
  top: 0.3rem;
}
.arrowLeft {
  position: absolute;
  left: 1px;
  top: 0.3rem;
}
.gotoHome {
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}
.pPic {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
.sf-content .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #f1f1f1;
  padding: 0;
}
.brk-field .mat-form-field-infix {
  width: 100%;
}
.sf-content .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
  padding: 0;
}
.sf-content .mat-form-field {
  font-weight: 500;
}
.custField .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #f1f1f1;
  padding: 0;
}
.grid-container {
  display: grid;
  grid-template: auto/auto auto auto auto auto;
  grid-gap: 1px;
  background-color: #c5e5ff;
  padding: 0.05rem;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  word-wrap: break-word;
}
.header {
  background-color: rgba(255, 255, 255, 0.5) !important;
  font-weight: 600;
  font-size: 0.7rem;
  text-transform: uppercase;
}
.red {
  background-color: rgba(255, 99, 71) !important;
  border: red !important;
  color: #fff;
}
.green {
  background-color: rgba(60, 179, 113) !important;
  color: #fff;
}
