.login-container {
    width: 100%;
    margin: auto;
    background-color: #f1f1f1;
    min-height: 100vh;
    height: 100%;
  }
  .logo-header {
    height: 30vh;
    color: #fff;
    background-image: url("../../assets/logo/kalamLogoName.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    justify-content: center;
  }
  .login-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 30vh;
    justify-content: start;
  }
  .forgot-pwd {
    position: relative;
  }
  .forgot-pwd div{
    font-size: 12px;
    margin-left: -85px;
    padding: 0;
    color: #3f51b5;
    margin-top: -10px;
    cursor: pointer;
  }
  ::ng-deep .login-content .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #f1f1f1;
    padding: 0;
  }
  