<div class="login-container">
    <div class="logo-header"></div>
    <form [formGroup]="signInForm" #form="ngForm">
        <div class="login-content">
            <mat-form-field appearance="fill">
                <mat-label>Email Address</mat-label>
                <input matInput formControlName="username" type="email">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
              <!-- <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Textarea</mat-label>
                <textarea matInput></textarea>
              </mat-form-field> -->
             
              
        </div>
   
      <div class="login-footer">
         <button mat-raised-button color="primary" (click)="onSubmit()">Login</button>
         <div style="margin-top: 1rem;">
            Don't have an account? <button (click)="signUp()" mat-button color="primary" style="padding: 0;min-width: auto;">Sign Up</button>
         </div>
      </div>
  </form>
</div>