

  <div class="rf-container">
    <div class="rf-header custm-logo">
        <div style="color: #ff9800">Welcome!</div>
        <div style="color: #4caf50;">Erode Strikers Football Academy</div>
    </div>
        <div class="rf-content content-top">
            <div>
                <mat-tab-group>
                    <mat-tab label="My Profile">
                      <ng-template matTabContent>
                        <!-- Content 1 - Loaded: {{getTimeLoaded(1) | date:'medium'}} -->
                        <app-my-profile></app-my-profile>
                      </ng-template>
                    </mat-tab>
                    <mat-tab label="Teams">
                      <ng-template matTabContent>
                        <!-- Content 2 - Loaded: {{getTimeLoaded(2) | date:'medium'}} -->
                        <app-my-teams></app-my-teams>
                      </ng-template>
                    </mat-tab>
                    <mat-tab label="Statistics">
                      <ng-template matTabContent>
                        Content 3 - Loaded: {{getTimeLoaded(3) | date:'medium'}}
                      </ng-template>
                    </mat-tab>
                  </mat-tab-group>
            </div>
        </div>
        <!-- <div class="rf-footer">
            
        </div> -->
</div>
