<div class="edit-profile">
    <!-- <button mat-raised-button color="primary" (click)="editProfile()">Edit Profile</button> -->
    <button mat-raised-button (click)="logout()">Logout</button>
</div>
<div class="user-details">
    <div>
        <img class="profile-img" *ngIf="coachDetails.imageUrl; else dummyImg" [src]="coachDetails.imageUrl" alt="profile image"/>
        <ng-template #dummyImg><img class="dummy-img" src="../../assets/logo/profileImg.png" alt="profile image"/></ng-template>
    </div>
    <div>
        {{coachDetails.name}}
    </div>
    <div class="user-info">
        Kalam ID: {{coachDetails.kalamId}}
    </div>
    <div class="user-info" *ngIf="coachDetails?.toCoach">
        To Coach: {{coachDetails.toCoach.join(', ')}}
    </div>
</div>
<div class="ground-add">
    <button  mat-raised-button color="primary" (click)="addGround()">Add Ground</button>
</div>
<div class="ground-items">
    <div *ngFor="let ground of groundList" class="groundItem">
        <div>{{ground.groundName}}</div>
        <div>
            <button class="btn-grnd" (click)="in(ground)">IN</button>
            <button class="btn-grnd btn-red" (click)="out(ground)">OUT</button>
        </div>
    </div>
</div>
