<div class="ageGroup">
    <mat-form-field appearance="fill" style="width: 45%;">
        <mat-label>Age Group</mat-label>
        <mat-select [(ngModel)]="ageType" (ngModelChange)="underSelection()">
            <mat-option value="u-15">Under-15</mat-option>
            <mat-option value="u-16">Under-16</mat-option>
            <mat-option value="u-19">Under-19</mat-option>
            <mat-option value="u-23">Under-23</mat-option>
            <mat-option value="open">Open</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="newStudent()">Add Student</button>
</div>

<div *ngIf="ageType"> 
    <div *ngFor="let student of studentList; let index = index">
        <div class="position-style" *ngIf="!studentList[index-1] || student.playingPostion !== studentList[index-1].playingPostion">{{getSportLabel(student.playingPostion)}}</div>
        <div class="team-list">
            <div>
                <img class="profile-img" *ngIf="student.imageUrl; else dummyImg" [src]="student.imageUrl" alt="profile image"/>
                <ng-template #dummyImg><img class="dummy-img" src="../../assets/logo/profileImg.png" alt="profile image"/></ng-template>
            </div>
            <div class="team-info">
                {{student.name}}
                <div class="student-info">
                    <div>
                        Kalam ID: {{student.kalamId}}
                    </div>
                    <div>
                        Age: {{student.age}}, {{getUnderAgeLabel(student.underAge)}}
                    </div>
                    <!-- <div>
                        Ranking: 1
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="studentList?.length == 0" style="margin-top: 20vh;text-align: center;"> No Students Added</div>
</div>
