
.team-list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    padding: 1rem 0;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    position: relative;
}
.edit-btn {
    position: absolute;
    right: 0;
    top: 0;
}
.student-info {
    font-size: 0.7rem;
}
.position-style {
    padding: 0.5rem 0;
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
}
.team-info {
    margin-top: 0.5rem;
}
.ageGroup {
    margin-top: 1.5rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.custBtn {
    padding: 0.4rem 1rem;
}
.viewAttendance {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.viewStudent {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.eveningBtn {
    background: #8a7e31;
}

