.profile-img {
    height: 6rem;
    width: 4.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
}
.dummy-img {
    height: 6rem;
    width: 6rem;
}
.team-list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    padding: 1rem 0;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    font-weight: 500;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
}
.student-info {
    font-size: 0.7rem;
}
.position-style {
    padding: 0.5rem 0;
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
}
.team-info {
    margin-top: 0.5rem;
}
.ageGroup {
    margin-top: 1.5rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.custBtn {
    padding: 0.4rem 1rem;
}
.viewAttendance {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.grid-container {
    display: grid;
    grid-template: auto/auto auto auto auto auto;
    grid-gap: 1px;
    background-color: #c5e5ff;
    padding: 0.05rem;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
  }
  .header {
    background-color: rgba(255, 255, 255, 0.5) !important;
    font-weight: 600;
    font-size: 0.7rem;
    text-transform: uppercase;
}
.red {
    background-color: rgba(255, 99, 71) !important;
    border: red !important;
    color: #fff;
}
.green {
    background-color: rgba(60, 179, 113) !important;
    color: #fff;
}

::ng-deep .custField .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #f1f1f1;
    padding: 0;
  }