.custGrid-6 {
    grid-template: auto/16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}
.sa-content {
    height: auto;
    box-sizing: border-box;
    width: 100%;
}
.cust-home {
    align-items: center;
}
::ng-deep .sa-content .mat-form-field-infix {
    display: flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    padding: 0.2em 0.8em;
    padding-left: 0;
}
::ng-deep .sa-content .mat-form-field-label {
    padding: 0.2em 0.8em;
    box-sizing: border-box;
    padding-left: 0;
}