<div class="sf-container">
    <app-header [title]="title"></app-header>
    <div class="sf-content">
        <div class="gotoHome cust-home ">
            <div class="sa-content">
                <mat-form-field appearance="fill" style="width: 85%;">
                    <mat-label>Attendance Range</mat-label>
                    <mat-date-range-input  [min]="startOfMonth" [max]="endOfMonth" [formGroup]="attendanceRangeGroup"
                      [rangePicker]="attendanceRange">
                      <input matStartDate placeholder="Start date" formControlName="start">
                      <input matEndDate (dateChange)="dateChange($event)" placeholder="End date" formControlName="end">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="attendanceRange"></mat-datepicker-toggle>
                    <mat-date-range-picker #attendanceRange></mat-date-range-picker>
                  </mat-form-field>
            </div>
            <button mat-raised-button color="primary" (click)="gotoHome()">Home</button>
        </div>
        <div>
            <mat-form-field appearance="fill" style="width: 72%;">
                <mat-label>Select Coach</mat-label>
                <mat-select [(ngModel)]="coachVal" (ngModelChange)="coachSelection()">
                    <mat-option *ngFor="let coach of coachList" [value]="coach.kalamId">{{coach.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="coachView.length > 0">
            <div class="grid-container custGrid-6 font-0-7em">
                <div class="header">Name</div>
                <div class="header">{{ground}}</div>
                <div class="header">Topics</div>
                <div class="header">Notes</div>
                <div class="header">Log In Time</div>
                <div class="header">Log Off Time</div>  
                <ng-container *ngFor="let coach of coachView">
                    <div [ngClass]="coach.status == 'LEAVE' ? 'red' : 'green'">{{coach.coachName}}</div>
                    <div [ngClass]="coach.status == 'LEAVE' ? 'red' : 'green'" class="d-flex">
                        {{coach.groundName}}
                        <div *ngIf="coach.status !== 'LEAVE'"><mat-icon style="font-size: 1rem;" (click)="viewStudentAttendance(coach)">calendar_today</mat-icon></div>
                    </div>
                    <div [ngClass]="coach.status == 'LEAVE' ? 'red' : 'green'">{{checkValue(coach.topics)}}</div>
                    <div [ngClass]="coach.status == 'LEAVE' ? 'red' : 'green'">{{checkValue(coach.notes)}}</div>
                    <div [ngClass]="coach.status == 'LEAVE' ? 'red' : 'green'">{{logInValue(coach)}}
                        <div *ngIf="coach.loginAddress" (click)="viewLocation(coach.loginAddress, coach.logoutAddress)"><mat-icon style="font-size: 1rem;"> location_on</mat-icon></div>
                    </div>
                    <div [ngClass]="coach.status == 'LEAVE' ? 'red' : 'green'">{{coach.logOffDataTime}}
                        <div *ngIf="coach.logoutAddress" (click)="viewLocation(coach.loginAddress, coach.logoutAddress)"><mat-icon style="font-size: 1rem;"> location_on</mat-icon></div>
                    </div>
                </ng-container>
              </div>
        </div>
    </div>
</div>